@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap');
:root {
    --color-primary: rgb(0, 113, 133);
    --color-secundary: rgb(0, 194, 228);
    --black-scale1: #3d3d3d;
    --black-scale2: #4d4d4d;
    --golden-scale1: #F2BD1D;
    --golden-scale2: #BF7E04;
    --golden-scale3: #F2AE2E;
    --c-dark-mode1: #252525;
    --c-dark-mode2: #292929;
    --c-dark-mode3: #212121;
    --c-default: #212121;
    --color-piramid-1: #2f4f4f;
    --color-piramid-2: #a0522d;
    --color-piramid-3: #696969;
    --color-piramid-4: #f4a460;
    --font-paragraph: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-weight-light: 100;
    --font-h: system-ui, Helvetica, ColdiacOTF, ColdiacTTF, serif;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}





/*=== Configurações do header ===*/
.header-global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-paragraph);
    user-select: none;
    box-shadow: 0px 0.4px 1px 0px var(--black-scale1);
}
.header-global__title-page{
    flex: 0 1 auto;
    margin: 0 auto;
    text-align: center;
    color: var(--golden-scale1);
    font-family: var(--font-h);
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
    font-size: 2.5rem;
}
.header-global__index-link {
    flex: 0 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--golden-scale2);
    padding: .6rem;
    transition: all 200ms;
}
.header-global__index-link:hover {
    transition: all 200ms;
    background-color: var(--golden-scale2);
    color: #fff;
}
.header-global__extra-items {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*=== Fim das configurações do header*/







/*=== Configura a aparência da página ===*/
.config-appearance {
    position: relative;
    flex: 0 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: var(--golden-scale2);
    padding: .5rem;
    cursor: pointer;
    transition: all 200ms;
}
.config-appearance:hover {
    transition: all 200ms;
    background-color: var(--golden-scale2);
    color: #fff;
}
.config-appearance__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
.config-appearance:hover .config-appearance__dropdown{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--golden-scale2);
    box-shadow: 0px 1px 1px 0px var(--black-scale2);
}
.config-appearance__dropdown-item 
/*--- ---*/{
    flex: 0 0 auto;
    width: 100%;
}
.config-appearance__config-item{
    display: block;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding: .3rem;
    color: #fff;
    width: 100%;
    border: 0;
    padding: .5rem;
    background-color: var(--golden-scale2);
    cursor: pointer;
}
.config-appearance__config-item:hover{
    background-color: #fff;
    color: var(--golden-scale2);
}
/*=== Fim das configurações da aparência da página ===*/








/*=== Acessar tabela de conteúdos ===*/
.page-contents{
    position: relative;
    flex: 0 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: var(--golden-scale2);
    padding: .5rem;
    cursor: pointer;
    transition: all 200ms;
}
.page-contents:hover{
    transition: all 200ms;
    background-color: var(--golden-scale2);
    color: #fff;
}
.page-contents__dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.page-contents:hover .page-contents__dropdown{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--golden-scale2);
    box-shadow: 0px 1px 1px 0px var(--black-scale2);
}
.page-contents__dropdown-item{
    flex: 0 0 auto;
    width: 100%
}
.page-contents__content-link{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .3rem;
    color: #fff;
}
.page-contents__content-link:hover{
    background-color: #fff;
    color: var(--golden-scale2);
}
/*=== Fim da tabela de conteudos ===*/








/*--- Main do index.html ---*/
.main-index {
    height: 100%;
    width: 100%;
    margin-top: 3.5rem;
}

/*--- Main da página da mitologia ---*/
.main-mitology {
    height: 100%;
    width: 100%;
    margin-top: 2.5rem;
}




/*=== Configurações da página da mitologia ===*/
.mitology-page {}
.mitology-page__banner{
    height: 40vh;
    background-image: url(imgs/piramide1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary);
    position: relative;
}
.mitology-page__title-unique{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0;
    padding: .5rem;
    word-break: keep-all;
    color: #fff;
    font-family: var(--font-h);
    background-color: rgba(105, 105, 105, 0.769);
}
.mitology-page__intro{
    text-align: center;
    font-family: var(--font-paragraph);
    font-size: .8em;
    word-wrap: break-word;
}
.mitology-page__title_l{
    font-family: var(--font-h);
    color: #fff;
    background-color: var(--golden-scale2);
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0;
    padding-left: .5rem;
}
.mitology-page__title_c{
    font-family: var(--font-h);
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--golden-scale2);
}
/*=== Fim das configurações da página da mitologia ===*/




/* Configurações do conteúdo interno do página */
.content-mitology{
    padding: .5rem .5rem;
    margin: 1rem 0;
}
.content-mitology_first{
    padding: 1rem .5rem;
}
.content-mitology__head{}
.content-mitology__txt-explain{
    font-family: var(--font-paragraph);
    text-indent: .5rem;
    text-align: justify;
    font-size: 1.8vh;
    margin: .5rem;
}
.content-mitology__sub-content{
    margin: 1rem 0;
}




/* Configurações das exibição dos Deuses */
.god{
    border-radius: .3rem;
    border: 2px dashed var(--golden-scale1);
    padding: .5rem;
    margin: 2rem 0;
}
.god_first{
    border-radius: .3rem;
    border: 2px dashed var(--golden-scale1);
    padding: .5rem;
    margin-top: 1rem;
}
.god__name{
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--golden-scale3);
    font-family: var(--font-paragraph);
    margin: 0;
}
.god__image{
    margin: 0 auto;
    display: block;
    max-width: 50%;
    max-height: 40vh;
    object-fit: cover;
    height: 35vh;
}
.god__image_caption{
    background-color: rgba(255, 255, 255, 0.572);
    width: 4rem;
    font-family: var(--font-paragraph);
    text-align: center;
    font-weight: 500;
}
/*=== Fim das configurações da página da mitologia */




/*=== Seção de cada item introdutivo a mitologia ===*/
.mitology {
    flex: 0 0 25rem;
    box-shadow: .3px .3px 1px .2px var(--black-scale2);
    border-radius: 5px;
}
/*--- Conhecer a mitologia ---*/
.mitology__wrap-about {
    margin: .5rem;
}
.mitology__about-page {
    display: block;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-paragraph);
    font-weight: 600;
    font-size: .9rem;
    transition: all 200ms;
    color: var(--golden-scale3);
    outline: 1px solid var(--golden-scale3);
    border-radius: 3px;
}
.mitology__about-page:hover{
    transition: all 200ms;
    background-color: var(--golden-scale3);
    color: #fff;
}
.mitology__slide {
    width: 100%;
    height: 100%;
    position: relative;
}
/*=== Fim da seção de cada item introdutivo das mitologias ===*/




/*=== Cabeçalho do cabeçalho introdutivo da página index ===*/
.header-index {
    background-image: url(imgs/barter.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 191, 255);
    height: 50vh;
    position: relative;
    color: #fff;
}
.header-index>.title-unique {
    text-align: center;
    text-shadow: 0px 0px 3px var(--black-scale1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
    text-rendering: optimizeSpeed;
    font-family: var(--font-h);
}
.header-index>.text-info {
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0px 0px 3px var(--black-scale1);
    position: absolute;
    top: 59%;
    transform: translateY(-55%);
    width: 100%;
    text-transform: capitalize;
    text-rendering: optimizeSpeed;
    font-family: var(--font-h);
}
/*=== Fim do cabeçalho explicativo da página index ===*/


.wrapper-mitologys {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.title-c {
    text-align: center;
    margin: .5rem .5rem 0 .5rem;
    color: var(--golden-scale3);
    font-family: var(--font-h);
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 2px dotted var(--golden-scale3);
}


.text-info {
    line-break: normal;
    word-break: keep-all;
    margin: .5rem;
    font-family: var(--font-paragraph);
    font-size: .9rem;
}



.mitology:hover .images-slide img {
    transition: all 200ms;
    opacity: 1;
}

.icon {
    vertical-align: middle;
}

.content .info {
    margin: 0 .5rem 0 .5rem;
    flex: 1 1 auto;
}

.images-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.images-slide a {
    display: block;
}

.images-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    opacity: .8;
    transition: all 200ms;
}


/*=== Início dos controles de slide introdutivo a mitologia ===*/
.controls-slide {}
.controls-slide>a.prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-decoration: none;
    background-color: #fff;
    padding: .5rem;
    opacity: .5;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 200ms;
}
.controls-slide>a.prev:hover {
    transition: all 200ms;
    opacity: 1;
}
.controls-slide>a.next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-decoration: none;
    background-color: #fff;
    padding: .5rem;
    opacity: .5;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 5%;
    transition: all 200ms;
}
.controls-slide>a.next:hover {
    transition: all 200ms;
    opacity: 1;
}
/*=== Fim dos controles do slide ===*/







/*=== Componentes dos banner de images das mitologias ===*/
.banner-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.banner-section__image{
    flex: 0 1 auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    resize: horizontal;
}
.banner-section__image-caption{
    text-align: center;
    font-family: var(--font-paragraph);
    font-size: .9em;
}
/*=== Fim dos componentes dos banners das imagens ===*/




/*=== Componentes para configuração da aparência das páginas ===*/
.appearence-page {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    user-select: none;
}
.appearence-page .darkmode {
    display: block;
    padding: .5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px var(--black-scale1);
}
.darkmode-enable {
    background-color: var(--c-dark-mode2);
    color: #fff;
}
/*=== Fim dos componentes para configuração da aparência das páginas ===*/





/*=== Exibição dos membros da mitologia ===*/
.members-group{
    padding-top: 1rem;
}
.members-group__head{

}
.members-group__title{
    text-align: center;
    font-family: var(--font-h);
    color: var(--golden-scale2);
    margin: 1rem;
}
.members-group-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid var(--golden-scale2);
}
.members-group-list__name{
    text-align: center;
    padding: .5rem;
    color: #fff;
    background-color: var(--golden-scale2);
    text-transform: uppercase;
    font-family: var(--font-paragraph);
}
/*=== Fim dos membros da mitologia ===*/





/*=== Componentes do footer do site ===*/
.footer-global {
    box-shadow: 0px -.5px 2px 0px var(--black-scale2);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.footer-global__copyright {
    text-transform: uppercase;
    text-align: center;
    font-size: .53rem;
    font-family: var(--font-paragraph);
}
.footer-global__helper {
    text-align: center;
    font-family: var(--font-paragraph);
    font-size: .7em;
    flex: 0 0 1rem;
    height: 20vh;
    width: 20vw;
}
.footer-global__helper-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/*=== fim dos componentes do footer do site ===*/




.page-control{
    display: none;
}

.copyright-link{
    text-decoration: none;
    color: rgb(0, 113, 133);
}
.copyright-link:hover{
    text-decoration: underline;
}

@media (min-width: 1020px) {
    
}

@media (max-width:720px) {
    .wrapper-mitologys {
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .images-slide img{
        opacity: 1;
    }
}

@media (max-width: 500px){

    .images-slide img{
        opacity: 1;
    }


    .appearance{
        display: none;
    }
    .contents{
        display: none;
    }
    .header-global{
        justify-content: center;
    }
    .return-index{
        display: block;
        width: 100%;
        text-align: center;
    }

    .page-control{
        display: block;
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        padding: .2rem;
        border-radius: 20px;
        user-select: none;
    }
    .page-control__darkmode-smartphone{
        display: block;
        border-radius: 50%;
        outline: 1px solid var(--color-primary);
        margin-bottom: .5rem;
        padding: .3rem;
        color: var(--color-primary);
        background-color: #fff;
    }
    .page-control__go-top{
        display: block;
        border-radius: 50%;
        outline: 1px solid var(--color-primary);
        padding: .3rem;
        color: var(--color-primary);
        background-color: #fff;
    }
}
